<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--  RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - Sentiment AI</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-container">

    <div class="logo">🤖 SISKOMA</div>
    <h3>Sistem Komunikasi Pengaduan Masyarakat</h3>

    <h2>Login</h2>

    <form method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <a href="/register">Belum punya akun? Daftar</a>

</div>

</body>
</html>